/* Search in header and footer */
.form-search {
	position: relative;
	&__input {
		width: 100%;
		border: 1px solid #707070 ;
		padding: 7px 30px 7px 10px;
		&:focus {
			outline: none;
		}
	}
	&__submit {
		position: absolute;
		top: calc(50% - 10px);
		right: 8px;
	}
}
