/* Up */
$desktop: 1200px;
$medium: 992px;
/* Down */
$tablet: 991px;
$mobile: 767px;
$small: 480px;

@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: $desktop) { @content; }
	}
	@if $point == medium {
		@media (min-width: $medium) { @content; }
	}
	@if $point == tablet {
		@media (max-width: $tablet) { @content; }
	}
	@if $point == mobile {
	@media (max-width: $mobile) { @content; }
	}
	@if $point == small {
		@media (max-width: $small) { @content; }
	}
}
