 /* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 16;
$base-line-height: 24;
$default-color: #555;
$white: #fff;

$link: $default-color;
$link-hov: #333;

$header: $default-color;

/* Colors */
$bkg-footer: #c9c9c9;
$bkg-grey: #ebebeb;

